h1 {
	text-align:center;
	

}

h2 {
	text-align: left;
    text-justify: inter-word;
	margin-left: 30;
	margin-right:30;
}

.color1 {
	color: #000000;
}

#size {
	font-size: 100px;
}

#normal {
	font-size: 80px;
}

h3 {
	text-align: center;
    margin-left: 60;
	margin-right:60;
}

h5 {
	text-align: center;
}
}
.center {
	vertical-align:center;

}

.bgm1 {
    background-image: url('img/moon.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgm2 {
    background-image: url("img/bakunawa.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgm3 {
    background-image: url("img/dragon.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

